body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#main {
    width: 626px;
    margin: 64px auto;
}

h1 {
    font-family: 'Dosis', sans-serif;
    color: #3F3D56;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    margin: 32px 0 16px;
}

h1 span {
    font-weight: bold;
    color: #EE24FF;
}

.t1 {
    color: #828282;
    font-size: 15px;
    line-height: 22px;
}

.t2 {
    color: #828282;
    font-size: 15px; 
    line-height: 20px;
    margin-top: 32px;
}

span {
    font-weight: bold;
    color: #3F3D56;
}

.line {
    border: 1px solid #ECEFF2;
    width: 391px;
    margin: 64px auto 16px;

}

a {
    text-decoration: none;
    color: #3F3D56;
    font-weight: bold;
    
}

a + a {
    margin-left: 42px;
}

.footer img {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

