body {
    
    font-family: 'Open Sans', sans-serif;
    color: #828282;
    text-align: center;
}

#meio {
    text-align: center;
    width: 626px;
    margin: 64px auto 64px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    color: #3F3D56;
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: normal;
    line-height: 40px;
}

h1 span{
    color: #EE24FF;
    font-weight: bold;
}

.t1 {
  font-size: 15px;
  max-width: 540px;
  margin: auto;
  line-height: 22px;
}

p strong {
    color: #3F3D56;
}

p span {
    font-weight: bold;
    
}


.t2 {
    margin-top: 32px;
    font-size: 15px;
    line-height: 20px;
}

#footer {
    color: #3F3D56;
    
}

#footer .line {
    border: 1px solid #ECEFF2;
    margin: 0 auto 16px;
    width: 391px;
    height: 0px;
    
}


#footer a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    font-size: 15px;
   
}

#footer a + a {
    margin-left: 42px;
    
    
    
}

#wave {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    
    
}
